Flask==3.0.2
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
Flask-WTF==1.2.1
email-validator==2.1.0.post1
python-dotenv==1.0.1
Werkzeug==3.0.1
SQLAlchemy==2.0.28
WTForms==3.1.2
gunicorn==21.2.0
python-docx==1.1.0
fpdf==1.7.2 